@if (data.type == 'buy') { @if (phase == 1) {
<div class="buy-container">
  <h1>
    Charge your car at <b>{{ data.info.name }}</b>
  </h1>
  <p>
    Need to charge your car? Simple! Bring the slider value to the desired
    percentage.
  </p>
</div>
<mat-slider min="0" max="100" step="1" discrete [displayWith]="formatLabel">
  <input value="15" matSliderStartThumb #valueStart />
  <input value="30" matSliderEndThumb #valueEnd />
</mat-slider>
<h4 class="cost">
  Cost: <b>{{ calculate(valueStart.value, valueEnd.value).cost }}</b>
</h4>
<h4 class="cost">
  Cost of park:
  <b>{{ (this.realtime * this.data.info.parkRate).toFixed(2) }}</b>
</h4>
<div class="estimeted-time">
  <p>Your estimated recharge time is</p>
  <h1>
    <b>{{ time }}</b>
  </h1>
</div>
<button mat-button class="btn-next" (click)="nextPhase()">Next</button>
} @else if(phase == 2) {
<div class="buy-container">
  <h1>
    Park at <b>{{ data.info.name }}</b>
  </h1>
  <p>
    Need to park longer? No problem! Just enter the number of hours and minutes
    you want to stay.
  </p>
</div>
<div class="added-time">
  <mat-form-field>
    <mat-label>Hours</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="hrs" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minutes</mat-label>
    <input matInput type="number" min="0" max="59" [(ngModel)]="mins" />
  </mat-form-field>
</div>
<h4 class="cost">
  Cost: <b>{{ calcualteCostOfTime() }}</b>
</h4>
<button mat-button class="btn-next" (click)="nextPhase()">Next</button>

} @else if (phase == 3) {
<div class="buy-container">
  <h1>Booking Details</h1>
  <p>
    Ready to start your recharge? Press 'Accept' and follow the directions to
    the parking lot. Have a safe journey!
  </p>
</div>
<div class="waiting-cars">
  <mat-icon>directions_car</mat-icon>
  <span>{{ this.queue }} cars in front</span>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">Refuse</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="nextPhase()">
    Accept
  </button>
</mat-dialog-actions>
} } @else {
<h2 mat-dialog-title>My Profile</h2>
<mat-dialog-content>
  <div class="container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Personal data </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="test">
        <mat-form-field>
          <mat-label>Balance - €</mat-label>
          <input matInput type="number" min="0" #balance />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Battery size - KW</mat-label>
          <input matInput type="number" min="1" #battery />
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Subscription </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="content">
        <span>Do you want to become a premium user?</span>
        <span class="spacer"></span>
        <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
      </div>
    </mat-expansion-panel>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">Don't save</button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    (click)="save(balance.value, battery.value)"
  >
    Save
  </button>
</mat-dialog-actions>
}
