<div class="map-container">
  <div class="map-frame">
    <mat-card class="menu-btn">
      <mat-card-content>
        <div class="container">
          <h2>Invite code</h2>
          <p>Please enter your invite code.</p>
          <form [formGroup]="codeForm" (ngSubmit)="onSubmit()">
            <div class="input-container">
              <mat-form-field>
                <mat-label>Code</mat-label>
                <input
                  matInput
                  placeholder="Ex. code123"
                  formControlName="invite"
                  required
                />
              </mat-form-field>
            </div>
            <div class="footer">
              <button mat-flat-button color="primary">Next</button>
            </div>
          </form>
        </div>
        <div class="footer">
          <p>
            don't have a code?
            <button mat-button (click)="skipMethod()">Skip</button>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
    <div id="map"></div>
  </div>
</div>
