<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
    <app-parking
      class="test"
      [shouldExpand]="changingValue"
      (shouldRetractSub)="leftParking()"
    ></app-parking>
    <app-place-car-park
      class="test"
      (closeEvent)="showUi()"
    ></app-place-car-park>
    <button
      mat-raised-button
      extended
      (click)="openSidebar()"
      class="menu-btn"
      [hidden]="hideUi"
    >
      <mat-icon>menu</mat-icon>
      <span> 200€</span>
    </button>
    <button
      mat-raised-button
      extended
      class="add-btn"
      [hidden]="hideUi"
      (click)="placeMarkerMode()"
    >
      <mat-icon>add</mat-icon>
      Add Car Park
    </button>
  </div>
</div>
