.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-frame {
  position: relative;
  height: 100%;
}

.menu-btn {
  z-index: 100000;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.add-btn {
  z-index: 100000;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.test {
  z-index: 100000;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .test {
    z-index: 100000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}

#map {
  height: 100%;
}
