<div class="map-container">
  <div class="map-frame">
    <mat-card class="menu-btn">
      <mat-card-content>
        <div class="container">
          <h2>Welcome back</h2>
          <p>Please enter your details to sign in.</p>
          <button mat-raised-button class="btn-social" (click)="google()">
            <img src="assets/google.svg" />
          </button>
          <div class="divider">
            <mat-divider></mat-divider>
            <span>Or</span>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSumbit()">
            <div class="input-container">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Ex. esempio@gmail.com"
                  formControlName="email"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" />
              </mat-form-field>
            </div>
            <div class="footer">
              <button mat-flat-button color="primary">Login</button>
              <p>
                don't have an account? <a routerLink="/register">Register</a>
              </p>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
    <div id="map"></div>
  </div>
</div>

<!-- <div class="container">
  <h2>Login</h2>
  <button mat-raised-button class="btn-social" (click)="google()">
    <img src="assets/google.svg" />
  </button>
  <form [formGroup]="loginForm" (ngSubmit)="onSumbit()">
    <div class="input-container">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Ex. esempio@gmail.com"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
      </mat-form-field>
    </div>
    <p>or <a routerLink="/register">Register</a></p>
    <button mat-flat-button color="primary">Login</button>
  </form>
</div> -->
