.container {
  max-width: 37.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.divider {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
  height: fit-content;
}

.divider hr {
  margin-top: 0;
  margin-bottom: 0;
}

.divider > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  transform: translate(0, -50%);
  padding: 0 1rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.center {
  margin: auto;
}

.footer {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-items: center;
}

.footer p {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-social {
  width: fit-content;
  height: fit-content;
  margin-bottom: 1.5rem;
}

.back-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}

.back-container > * {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .input-container {
    display: flex;
    flex-direction: row;

    gap: 0.5rem;
  }
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-frame {
  position: relative;
  height: 100%;
}

.menu-btn {
  z-index: 100000;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  background-color: #ffff;
  width: fit-content;
  height: fit-content;
}

.add-btn {
  z-index: 100000;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.test {
  z-index: 100000;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .test {
    z-index: 100000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}

#map {
  height: 100%;
}
