<div class="container">
  <span class="back-container" (click)="back()">
    <mat-icon>arrow_back_ios</mat-icon>
    <h2>Back</h2>
  </span>
  <h2>Create a new car park</h2>
  <form [formGroup]="parkForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Ex. Vigevano Car Park"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Park Spots</mat-label>
      <input
        matInput
        placeholder="Ex. 50"
        formControlName="parkSpots"
        type="number"
      />
    </mat-form-field>
    <div class="price-container">
      <mat-form-field>
        <mat-label>Park rate</mat-label>
        <input
          matInput
          placeholder="Ex. 3,0 h/€"
          formControlName="parkRate"
          type="number"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Charge rate</mat-label>
        <input
          matInput
          placeholder="Ex. 0,5 KW/€"
          formControlName="chargeRate"
          type="number"
        />
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary">Create</button>
  </form>
</div>
