<mat-sidenav-container class="container">
  <mat-sidenav [(opened)]="opened">
    <mat-toolbar>
      {{ username }}
      <mat-toolbar-row>
        <button mat-button (click)="openDialog()">
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a href="dashboard" mat-button [hidden]="!isAdmin">
          <mat-icon>manage_accounts</mat-icon>
          <span>Dashboard</span>
        </a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a mat-button href="/login" color="warn" (click)="exit()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Log out</span>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-map (opened)="openSidebar()"></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>
