<div class="map-container">
  <div class="map-frame">
    <mat-card class="menu-btn">
      <mat-card-content>
        <div class="container">
          <h2>Create Account</h2>
          <p>Please enter your details to register.</p>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="input-container">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Ex. esempio@gmail.com"
                  formControlName="email"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                  matInput
                  formControlName="password"
                  required
                  type="password"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Code</mat-label>
                <input matInput formControlName="code" />
              </mat-form-field>
            </div>
            <div class="footer">
              <button mat-flat-button color="primary">Register</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
    <div id="map"></div>
  </div>
</div>
