<div class="container">
  <h2>Register</h2>
  <button mat-raised-button class="btn-social">
    <img src="assets/google.svg" />
  </button>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Ex. esempio@gmail.com"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>
    <button mat-flat-button color="primary">Register</button>
  </form>
</div>
