@if (init) {
<mat-card [class.retract]="shouldRetract" [class.extend]="expand">
  <div class="container">
    <div class="head-info">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ name }}</mat-card-title>
          <mat-card-subtitle>Ventuno 34, 7392</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-set>
          <mat-chip>
            <div class="container">
              <mat-icon>battery_charging_full</mat-icon>
              <span>{{ pricePower }} €/Kw</span>
            </div>
          </mat-chip>
          <mat-chip>
            <div class="container">
              <mat-icon>access_time_filled</mat-icon>
              <span>{{ priceParking }} €/h</span>
            </div>
          </mat-chip>
        </mat-chip-set>
      </mat-card-content>
    </div>
    <div class="info">
      @if (arrived && !inTraffic) {
      <h1><b>22%</b></h1>
      <span class="sub-text">Charging...</span>
      } @else if (!inTraffic) {
      <h1>
        <b>{{ cars }}</b>
      </h1>
      <span class="sub-text">Cars in front</span>
      }
    </div>
  </div>
  <mat-card-actions>
    @if (arrived && !inTraffic) {
    <button mat-flat-button color="warn" (click)="retract()">
      Leave and pay {{ price }}€
    </button>
    } @else if (!inTraffic) {
    <button mat-flat-button color="warn">Leave</button>
    } @else {
    <button mat-flat-button (click)="checkIn()">Check In</button>
    }
  </mat-card-actions>
</mat-card>
}
